

.card {
  background: #FFFFFF;
  border: 0px solid #979797;
  border-radius: 5px;
}

.card__title {
  padding: 10px;
  font-size: 1em;
}

.card__btn {
  margin: 5px;
  padding: 5px 20px;
  border-radius: 5px;
}

.card__input--text{
  font-family: inherit;
  border: 1px solid #999;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}

.card__input--date {
  font-family: inherit;
  border: 1px solid #999;
  border-radius: 5px;
  margin: 5px;
  padding: 5px;
}
