nav {
  background: #FFFFFF;
  width: 100%;
}

.nav__row {
  font-size: 0;
  width: 100%;
}

.nav__list-group {
  display: inline;
}

.nav__list--right,
.nav__list {
  display: inline-block;
  vertical-align: bottom;
  font-size: 1rem;
  text-align: center;
}

.nav__list--right {
  margin-right: 45px;
  float: right;
}

.nav__item {
  color: $primary-colour;
  float: left;
  font-weight: 400;
  padding: 20px;
  transition: .2s;
}

.nav__item-text {
  text-decoration: none;
  color: inherit;
}

.nav__item:hover {
  background: $primary-colour;
  color: $secondary-colour;
  cursor: pointer;
}

.nav__title {
  display: inline-block;
}

.nav__title-text {
  color: $primary-colour;
  display: inline-block;
  float: left;
  font-size: 1.7rem;
  font-weight: 500;
  margin: 13px 20px 16px 20px;
  text-decoration: none;
  transition: .1s;
}

.nav__title:hover {
  color: $primary-colour-heavy;
}

.nav__mobile-menu {
  display: none;
}

@media handheld, only screen and (max-width: 768px) {

  .nav__list--right {
    display: none;
    margin: 0;
  }

  .nav__list {
    display: none;
  }

  .nav__list-group {
    display: block;
    position: absolute;
    z-index: 1;
    background-color: $secondary-colour;
    width: 100%;
  }

  .nav--open .nav__list {
    display: block;
    opacity: 1;
    transition: visibility 0s, opacity 0.5s linear;
    overflow: hidden;
    width: 100%;
  }

  .nav--open .nav__list-group {
    border-top: 1px solid $border-colour;
    border-bottom: 1px solid $border-colour;
  }

  .nav__item {
    display: block;
    color: $primary-colour;
    font-weight: 400;
    padding: 20px;
    transition: .2s;
    width: 100%;
  }

  .nav__mobile-menu {
    display: block;
    float: right;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 30px;
    cursor: pointer;
  }

  .nav__mobile-menu-icon--top,
  .nav__mobile-menu-icon--middle,
  .nav__mobile-menu-icon--bottom {
    background: $primary-colour;
    display: block;
    height: 3px;
    width: 22px;
    margin-top: 3px;
  }

}
