
.summary-card {
  background: $secondary-colour;
  border-radius: 5px;
  border: 1px solid $border-colour;
  height: 220px;
}

.summary-card__header {
  background: $primary-colour;
  border-top-right-radius: 4px;
  border-top-left-radius: 4px;
}

.summary-card__title {
  color: $secondary-colour;
  padding: 15px;
  font-size: 0.9em;
  font-weight: 400;
}

.summary-card__btn-group {
  padding-top: 10px;
  text-align: center;
}

.summary-card__btn {
  background: $secondary-colour;
  border: solid 1px $border-colour;
  margin: 5px 0px;
  outline: none;
  padding: 5px 15px;
}

.summary-card__btn:hover {
  cursor: pointer;
}

.summary-card__btn--active,
.summary-card__btn:active
{
  background: #E9E9E9;
}

.summary-card__btn--left {
  border-right: 0;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.summary-card__btn--right {
  border-left: 0;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.summary-card__display-group {
  text-align: center;
}

.summary-card__display {
  display: inline-block;
  margin: 10px 15px;
  vertical-align: top;
}

.summary-card__display-title {
  padding: 25px;
  font-size: 0.9em;
  font-weight: 400;
}

.summary-card__display-value {
  color: $primary-colour;
  font-size: 3em;
  font-weight: 400;
  padding: 15px 0px;
}

.summary-card__display-date {
  color: #8C8B89;
  font-size: 0.6em;
  font-weight: 400;
}
