
/* Fonts */
$font-family: Lato, Helvetica, Arial, sans-serif;

/* Colours */
$app-background: #FBFAF8;
$primary-colour: #D55F5F;   /* Red */
$secondary-colour: #FFFFFF; /* White */
$border-colour: #D0CFCE;

/*Used for nav title*/
$primary-colour-heavy: #D13D3D;
